section {
    bottom: 0%;
    height: 65vh;
    width: 100vw;
};

h1 {
    color: var(--defaultThemeColor2);
}

p {
    color: var(--defaultThemeColor3)
}
button {
    height: 12%;
    color: var(--defaultTextColor);
}