section {
    background-color: var(--defaultThemeColor2);
    height: 14%;
    width: 100%;
    top: 85%;
    align-items: center;
}

img {
    width: 40px;
    height: 37px;
    cursor: pointer;
}
div {
    margin-top:10px;
    align-items: center;
}
h2 {
    font-size: small;
}