/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'roboto' ;
    src: url(../src/assets/fonts/Roboto/Roboto-Regular.ttf);
}
:root {
    --defaultThemeColor1: #FFFFFF;
    --defaultThemeColor2: #e91e63; 
    --defaultThemeColor3: #f492b4;
    --defaultThemeColor4: rgba(233,30,99,.15);
    --defaultThemeColor5: #555555;
    --defaultTextColor: #2f2f2f;
    --defaultLightTextColor: #FFFFFF;
}

html, body { height: 100%; }
body { margin: 0; font-family: "roboto" }
