section {
    height: 7%;
    background-color: var(--defaultThemeColor2);
}
span {
    top: 50%;
    left: 3%;
    color: var(--defaultTextColor);
}

img {
    width: 30px;
    height: 27px;
    cursor: pointer;
}
div {
    width: 80px;
}