section {
    height: 7%;
    background-color: var(--defaultThemeColor2);
    border-bottom-width: 1px;
    box-shadow: 0px 5px 20px rgba(10, 10, 10, 0.4);
}
span {
    top: 50%;
    left: 3%;
    color: var(--defaultLightTextColor);
}

img {
    width: 30px;
    height: 27px;
    cursor: pointer;
}
div {
    width: 80px;
}