<section class="overflow-scroll">
    <div class="my-3 rounded-md ml-7 wrapper">
        <span class="p-2">Current tariff plan</span>
    </div>
    <div class="flex ml-8 info">
        <router-outlet></router-outlet>
        <div>
            <h1 class="text-4xl"><b>{{currentTariff.tariffName}}</b></h1>
            <span *ngIf="currentTariff.paymentDate" class="text-base">On the {{currentTariff.paymentDate}} - tariff payment</span>
        </div>
        <span routerLink="../tariffList"  class="pl-5 mt-3 text-base hover:pointer ip5:pl-2 more" >View Plans</span>
    </div>
    <sw-tariff [data]="currentTariff.data" [calls]="currentTariff.calls" [sms]="currentTariff.sms" [tariffName]="currentTariff.tariffName" [colorScheme]="currentTariff.colorScheme" [imageSrc]="currentTariff.imageSrc" [pricePerMonth]="currentTariff.pricePerMonth"></sw-tariff>
</section>


