<section class="overflow-scroll">
    <div class="my-3 rounded-md ml-7 wrapper">
        <span class="p-2">Current tariff plan</span>
    </div>
    <div class="flex ml-8 info">
        <div>
            <h1 class="text-4xl"><b>Tariff Name</b></h1>
            <span class="text-base">On the 10th - tariff payment</span>
        </div>
        <span class="pl-5 mt-3 text-base ip5:pl-2 more">More Plans</span>
    </div>
    <sw-tariff [data]="14000" [calls]="500" [sms]="100" tariffName="Full Gaming" [colorScheme]="['#be164e', 'linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(190,22,78,1) 0%, rgba(255,235,0,1) 100%)']" pricePerMonth="20"></sw-tariff>
</section>


